li {
    list-style: none;
    font-family: 'Monserrat' sans-serif;
    text-align: start;
    border-color: rgb(209, 209, 209);

}

.caja {
    background-color: rgb(245, 241, 255);
    color: rgb(223, 181, 181);
    width: 500px;
    height: 550px;
    font-family: 'Monserrat' sans-serif;


}

.boton {
    float: right;
}

input {
    border: none;
    font-family: 'Monserrat' sans-serif;

}

h1 {
    font-size: 70px;
    font-weight: lighter;

}

.agregado {
    text-align: start;
    bottom: 0%;

}

.hojas {
    background: #fff;
    box-shadow:
        0 1px 1px rgba(168, 21, 21, 0.15),

        0 10px 0 -5px #ffffff,

        0 10px 1px -4px rgba(0, 0, 0, 0.15),

        0 20px 0 -10px #ffffff,

        0 20px 1px -9px rgba(0, 0, 0, 0.15);


}